@import "tailwindcss";
@tailwind utilities;
h1 {
  @apply text-3xl font-bold text-gray-800;
}

h2 {
  @apply text-2xl font-semibold text-gray-800;
}

hr {
  @apply my-1 border-gray-300 border mb-3;
}

button {
  @apply transition-all  font-semibold uppercase tracking-wide shadow-md;
}

body {
  @apply bg-white text-gray-800;
}

input:not(.swal2-input)[type="text"],
input:not(.swal2-input)[type="password"],
input:not(.swal2-input)[type="email"],
input:not(.swal2-input)[type="number"],
input:not(.swal2-input)[type="date"],
input:not(.swal2-input)[type="time"] {
  @apply w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none;
}
